<!DOCTYPE html>
<html>
    <head>
        <title> About </title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main">
            {{>headers}}
            <img class="about" src="images/1_0FqDC0_r1f5xFz3IywLYRA.jpeg" alt="">
        </div>
        
         <div> {{>footers}} </div>
    </body>
</html>